 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 630px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px auto 40px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 495px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 68px;
}

.u-section-1 .u-text-1 {
  margin: 87px auto 0 138px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 40px 40px 0;
}

.u-section-1 .u-image-1 {
  min-height: 431px;
  background-image: url("images/pfc.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 408px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 355px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 105px;
  }

  .u-section-1 .u-image-1 {
    min-height: 272px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    min-height: 408px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    min-height: 257px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 529px;
}

.u-section-2 .u-list-1 {
  width: 996px;
  grid-template-rows: repeat(2, auto);
  height: auto;
  margin: 60px auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 409px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 18px 16px;
}

.u-section-2 .u-image-1 {
  width: 129px;
  height: 129px;
  background-image: url("images/e7690eba-2090-294d-8afc-e32343dff1cd.jpg");
  background-position: 50% 50%;
  margin: 22px auto 0 53px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: -120px 14px 0 182px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 60px 0 -3px auto;
  padding: 10px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 18px 16px;
}

.u-section-2 .u-image-2 {
  width: 129px;
  height: 129px;
  background-image: url("images/7e8cf153-8d22-d3cb-c809-246330caa49b.jpg");
  background-position: 50% 50%;
  margin: 22px auto 0 53px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: -120px 14px 0 182px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 60px 0 -3px auto;
  padding: 10px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 18px 16px;
}

.u-section-2 .u-image-3 {
  width: 129px;
  height: 129px;
  background-image: url("images/122a14f8-934f-9129-05c8-5b1b367a2622.jpg");
  background-position: 50% 50%;
  margin: 22px auto 0 53px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: -120px 14px 0 182px;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 60px 0 -3px auto;
  padding: 10px 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 18px 16px;
}

.u-section-2 .u-image-4 {
  width: 129px;
  height: 129px;
  background-image: url("images/a21076f9-4a02-36f0-30ba-9261d660c9ec.jpeg");
  background-position: 50% 50%;
  margin: 22px auto 0 53px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: -120px 14px 0 182px;
}

.u-section-2 .u-btn-4 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 60px 0 -3px auto;
  padding: 10px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -119px;
    margin-right: 0;
    margin-left: 166px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -119px;
    margin-right: 0;
    margin-left: 166px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -119px;
    margin-right: 0;
    margin-left: 166px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -119px;
    margin-right: 0;
    margin-left: 166px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 461px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    width: 126px;
    height: 126px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -106px;
    margin-left: 154px;
  }

  .u-section-2 .u-image-2 {
    width: 126px;
    height: 126px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 154px;
  }

  .u-section-2 .u-image-3 {
    width: 126px;
    height: 126px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 154px;
  }

  .u-section-2 .u-image-4 {
    width: 126px;
    height: 126px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 154px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 927px;
  }

  .u-section-2 .u-list-1 {
    width: 454px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 807px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 160px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 160px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 160px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 160px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: 156px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 156px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 156px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 156px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 922px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 43px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 106px 65px 0 auto;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -78px 376px 0 auto;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -76px auto 0 50px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 32px;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  min-height: 475px;
  background-image: url("images/77fee520-ff38-759a-9a04-2a9171f46b7b.jpg");
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 14px;
}

.u-section-3 .u-image-2 {
  min-height: 475px;
  background-image: url("images/4fbcee6f-7894-03d6-2b94-eb917c1fe169.jpg");
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 24px;
}

.u-section-3 .u-text-5 {
  font-weight: 400;
  margin: -5px 6px 0;
}

.u-section-3 .u-image-3 {
  min-height: 475px;
  background-image: url("images/e17a666f-fbda-52a5-dbf7-1233f18325a5.png");
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-3 .u-text-6 {
  font-size: 3rem;
  margin: -56px 873px 0 100px;
}

.u-section-3 .u-text-7 {
  font-size: 3rem;
  margin: -57px 432px 0 491px;
}

.u-section-3 .u-text-8 {
  font-size: 3rem;
  margin: -57px 42px 0 894px;
}

.u-section-3 .u-list-1 {
  width: 1017px;
  margin: 20px 42px 43px auto;
}

.u-section-3 .u-repeater-1 {
  min-height: 62px;
  grid-auto-columns: calc(33.3333% - 153.333px);
  grid-template-columns: calc(33.3333% - 153.333px) calc(33.3333% - 153.333px) calc(33.3333% - 153.333px);
  grid-gap: 230px 230px;
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

.u-section-3 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 0;
}

.u-section-3 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 839px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 310px;
  }

  .u-section-3 .u-image-1 {
    min-height: 392px;
  }

  .u-section-3 .u-image-2 {
    min-height: 392px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    min-height: 392px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 773px;
    margin-left: 106px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 332px;
    margin-left: 388px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 130px;
    margin-left: 736px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 153.333px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 153.333px));
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 747px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 237px;
  }

  .u-section-3 .u-image-1 {
    min-height: 601px;
  }

  .u-section-3 .u-image-2 {
    min-height: 601px;
  }

  .u-section-3 .u-image-3 {
    min-height: 601px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 553px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 222px;
    margin-left: 297px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 516px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 150px;
    grid-auto-columns: calc(50% - 114.99975px);
    grid-template-columns: repeat(2, calc(50% - 114.99975px));
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1797px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 178px;
  }

  .u-section-3 .u-image-1 {
    min-height: 902px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 902px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    min-height: 902px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 373px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 132px;
    margin-left: 223px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 336px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1297px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.875rem;
    margin-right: 112px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-image-1 {
    min-height: 568px;
  }

  .u-section-3 .u-image-2 {
    min-height: 568px;
  }

  .u-section-3 .u-image-3 {
    min-height: 568px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 173px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 32px;
    margin-left: 140px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 82px;
    margin-left: 136px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 552px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 4px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 4px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 388px;
  grid-gap: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 80px;
  width: 80px;
  margin: 0 auto;
  padding: 10px;
}

.u-section-4 .u-text-2 {
  width: 177px;
  margin: 27px auto 0;
}

.u-section-4 .u-text-3 {
  margin: 12px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 27px 68px 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 80px;
  width: 80px;
  margin: 0 auto;
  padding: 10px;
}

.u-section-4 .u-text-4 {
  width: 177px;
  margin: 27px auto 0;
}

.u-section-4 .u-text-5 {
  margin: 12px 0 0;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 27px 68px 0 auto;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 80px;
  width: 80px;
  margin: 0 auto;
  padding: 10px;
}

.u-section-4 .u-text-6 {
  width: 177px;
  margin: 27px auto 0;
}

.u-section-4 .u-text-7 {
  margin: 12px 0 0;
}

.u-section-4 .u-btn-3 {
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 27px 68px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 320px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-4 .u-icon-2 {
    color: rgb(219, 84, 90) !important;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 0;
    padding: 2px 38px 2px 37px;
  }

  .u-section-4 .u-icon-3 {
    color: rgb(219, 84, 90) !important;
  }

  .u-section-4 .u-btn-3 {
    margin-right: 0;
    padding: 2px 38px 2px 37px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 735px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 236px;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  margin: 40px auto 40px 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px);
  grid-gap: 10px 10px;
  min-height: 156px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-5 .u-image-1 {
  height: 70px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-5 .u-image-2 {
  height: 70px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-5 .u-image-3 {
  height: 70px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-5 .u-image-4 {
  height: 70px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-5 .u-image-5 {
  height: 70px;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    width: 472px;
    margin: 50px auto;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    width: 193px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    width: 193px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    width: 193px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-4 {
    width: 193px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-5 {
    width: 193px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}